.profesor-container {
    margin-top: 50px;
}

.main-content {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mt-5 {
    margin-top: 3rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}