/* General Navbar Style */
.custom-navbar {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

/* Navbar Container */
.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* Menu Icon (Hamburger) */
.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    right: 20px; /* Para alinearlo con el borde derecho */
}

/* Navbar Links */
.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los links */
    flex-grow: 1; /* Permite que ocupe el espacio disponible */
    gap: 20px;
}

.navbar-links.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    text-align: center; /* Centra los links en el menú desplegable */
}

/* Logout Button */
.logout-button {
    margin-left: auto;
}

/* Auth Buttons */
.auth-buttons {
    display: flex;
    gap: 15px; /* Añadir un espacio entre los botones */
    align-items: center;
    justify-content: flex-end;
}

/* Styles for Mobile */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center; /* Alinear al centro para el menú desplegable */
        gap: 15px;
        transition: all 0.3s ease;
    }

    .navbar-links.active {
        display: flex;
    }

    .logout-button {
        display: none; /* Oculta el botón de cerrar sesión cuando se muestra el menú hamburguesa */
    }
}

/* Botón de Cerrar Sesión */
.btn-logout {
    background-color: #d9534f; /* Rojo para resaltar */
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #c9302c; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento ligero */
}

.btn-logout:active {
    background-color: #ac2925; /* Aún más oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
}

/* Logo Image Style */
.navbar-logo-image {
    width: 150px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    cursor: pointer;
}
