/* src/styles/BusquedaGlobal.css */

.busqueda-global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    min-height: 550px;
    overflow-y: auto;
    max-width: 1000px;
    margin: 2% auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.busqueda-global-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.busqueda-global-sort-select {
    margin-left: 1rem;
    margin-top: -15px;
    width: 200px;
}

.busqueda-global-pagination {
    margin-top: 2rem;
    font-size: 1rem;
}

.busqueda-global-pagination button {
    margin: 0 1rem;
}

.busqueda-global-search-bar {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.busqueda-global-search-input {
    flex: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.busqueda-global-search-button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
