html, body {
    height: 100%;
    margin: 0;
    background-color: #f0f4ff; 
}

.configuracion-correo-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.configuracion-correo-box {
    max-width: 600px; 
    width: 100%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center; 
}

.configuracion-correo-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuracion-correo-form-control {
    width: 80%;
    padding: 10px 40px 10px 10px; 
    font-size: 1rem;
    border-radius: 25px; 
    border: 1px solid #d3d3d3;
}

.configuracion-correo-btn-primary {
    background-color: #91cb1b; 
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.2s;
    padding: 8px 10px;
    width: 80%;
    margin-top: 20px; 
} 

.configuracion-correo-btn-primary:hover {
    background-color: #91cb1b;
    color: #ffffff;
    transform: scale(1.02);
}

.password-container {
    position: relative;
    width: 80%; 
    margin: 0 auto; 
}

.password-input {
    width: 100%;
    padding-right: 40px; 
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    top: 43%;
    left: 90%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem; 
    color: #666666;
    transition: color 0.3s;
}

.toggle-password-icon:hover {
    color: #000000;
}
