.admin-dashboard-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.admin-metricas-generales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
}

.admin-card {
    background: #fbfbfb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 17px rgba(0, 0, 0, 0.182);
    text-align: center;
    height: 100%;
}

.admin-card ul {
    list-style-position: inside; 
    padding-left: 0; 
    text-align: left; 
    display: inline-block; 
}

.admin-card li {
    margin-bottom: 5px; 
    text-indent: -1.5em; 
    padding-left: 1.5em; 
}

.admin-graficas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.admin-grafica-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 17px rgba(0, 0, 0, 0.182);
    text-align: center;
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 100%;
    height: auto;
}

.admin-dashboard-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.admin-card-title {
    font-size: 1.3em;
    color: #28537E;
    margin-bottom: 15px;
    text-align: center;
}

.pagination {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-button {
    background-color: transparent;
    color: #007bff;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.pagination-button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    color: #0056b3;
}

.pagination-page {
    font-size: 0.8em;
    font-weight: bold;
}

.alertas-card {
    background-color: #fff3cd;
    border-left: 4px solid #ffecb5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-card-link {
    text-decoration: none; 
    color: inherit;
}

.admin-card-link:hover {
    text-decoration: none; 
}

.admin-card-link:hover .admin-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.admin-card-warning {
    background: #fff3cd;
    border-left: 4px solid #ffecb5;
}

.admin-card-danger {
    background: #f8d7da; 
    border-left: 4px solid #f5c6cb;
}

.admin-card.clickeable {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.admin-card.clickeable:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

