.gestion-cursos-profesor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.ver-proyectos-curso-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.gestion-cursos-main-content {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.gestion-cursos-table {
    border-radius: 10px;
    overflow: hidden; 
    width: 100%;
    margin-bottom: 30px; 
}

.gestion-cursos-table th,
.gestion-cursos-table td {
    vertical-align: middle;
    padding: 15px;
    border: 1px solid #ddd; 
    text-align: center; 
}

 
.gestion-cursos-table th {
    font-size: 1em;
    color: #ffffff;
    background-color: #28537E; 
    text-align: center; 
    vertical-align: middle;
    padding: 12px;
}

.ver-proyectos-btn {
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1px;
}

.cerrar-curso-btn {
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ver-proyectos-btn:hover,
.cerrar-curso-btn:hover {
    opacity: 0.9;
}

.detalle-proyecto-btn {
    border-radius: 10px;
    color: #0854A2;
    background-color: #ffffff;
    border-color: #0854A2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.detalle-proyecto-btn:hover {
    color: #5DB85C;
    background-color: #ffffff;
    border-color: #5DB85C;
}

.detalle-proyecto-btn:active {
    color: #ffffff!important;
    background-color: #5DB85C!important;
    border-color: #5DB85C!important;
}

.ver-solicitud-btn{
    border-radius: 10px;
    color: #0854A2;
    background-color: #ffffff;
    border: 0.5px solid #0855a25c;
}

.ver-solicitud-btn:hover {
    color: #5DB85C;
    background-color: #ffffff;
    border-color: #5DB85C;
    opacity: 0.9;
}

.ver-solicitud-btn:active {
    color: #ffffff!important;
    background-color: #5DB85C!important;
    border-color: #5DB85C!important;
}

.navegar-atras {
    display: flex;
    align-items: center;
    color: #28537E;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.icono-navegar-atras {
    margin-right: 10px;
    color:#28537E;
}
 
.crear-curso-button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #5DB85C;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 3px 6px rgba(0, 123, 255, 0.4);
}

.crear-curso-button:hover {
    background-color: #4aab4a!important;  
    transform: translateY(-2px); 
}

.crear-curso-button:active {
    background-color: #4aab4a!important; 
    transform: translateY(1px);
}

.crear-curso-button:focus {
    background-color: #4aab4a!important;
    transform: translateY(1px); 
}

.rechazar-solicitud-btn {
    background-color: #D9534F!important;
    border-color: #D9534F;
    color: #ffffff;
}

.rechazar-solicitud-btn:hover {
    background-color: #C9302C!important;
    border-color: #C9302C!important;
    color: #ffffff;
}

.rechazar-solicitud-btn:active {
    background-color: #C9302C!important;
    border-color: #C9302C!important;
    color: #ffffff;
}

.rechazar-solicitud-btn:focus {
    background-color: #C9302C!important;
    border-color: #C9302C!important;
    color: #ffffff;
}

.aceptar-solicitud-btn {
    background-color: #91cb1b!important;
    border-color: #91cb1b;
    color: #ffffff;
}

.aceptar-solicitud-btn:hover {
    background-color: #5DB85C!important;
    border-color: #5DB85C!important;
    color: #ffffff;
}

.aceptar-solicitud-btn:active {
    background-color: #449D44!important;
    border-color: #449D44!important;
    color: #ffffff;
}

.aceptar-solicitud-btn:focus {
    background-color: #449D44!important;
    border-color: #449D44!important;
    color: #ffffff;
}