.mis-solicitudes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.solicitudes-content {
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.mis-solicitudes-table {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px; 
}

.mis-solicitudes-table th,
.mis-solicitudes-table td {
    vertical-align: middle;
    padding: 7px;
    border: 1px solid #ddd; 
    text-align: center; 
}

.mis-solicitudes-table th {
    font-size: 1em;
    color: #ffffff;
    background-color: #0854A2; 
    text-align: center;
    vertical-align: middle; 
    height: 50px; 
    line-height: 50px; 
}

.ver-detalles-btn {
    border-radius: 10px;
    color: #0854A2;
    background-color: #ffffff;
    border: 0.5px solid #0855a25c;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ver-detalles-btn:hover {
    color: #ec881d;
    background-color: #ffffff;
    border-color: #ec881d;
    opacity: 0.9;
}

.ver-detalles-btn:active {
    color: #ffffff!important;
    background-color: #ec881d!important;
    border-color: #ec881d!important;
}