.custom-navbar {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    right: 20px; 
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
    gap: 20px;
}

.navbar-links.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    text-align: center;
}

.logout-button {
    margin-left: auto;
}

.auth-buttons {
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        transition: all 0.3s ease;
    }

    .navbar-links.active {
        display: flex;
    }

    .logout-button {
        display: none;
    }
}

.btn-logout {
    background-color: #f41d05; 
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #cf2c1a; 
    color: white;
    transform: scale(1.05); 
}

.btn-logout:active {
    background-color: #cf2c1a; 
    transform: scale(0.95); 
}

.navbar-logo-image {
    width: 148px; 
    height: 48px;
    cursor: pointer;
}
