  .navegar-por-curso-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    min-height: 550px;
    overflow-y: auto;
    max-width: 1000px;
    margin: 2% auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navegar-curso-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 55px;
  }
  
  .curso-select {
    width: 300px;
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .sort-select {
    width: 200px;
    margin-left: 1rem;
  }
  
  .pagination {
    margin-top: 2rem;
    font-size: 1rem;
  }
  
  .pagination button {
    margin: 0 1rem;
  }
  
  .navegar-atras-buscador {
    display: flex;
    align-items: center;
    color: #0854A2;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2em;
    position: absolute; 
    top: 20px; 
    left: 20px; 
}

.icono-navegar-atras-buscador {
    margin-right: 10px;
}

.navegar-por-curso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: auto;
  min-height: 550px;
  overflow-y: auto;
  max-width: 1000px;
  margin: 2% auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar-curso {
  position: relative; 
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.sugerencias-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute; 
  top: 100%; 
  left: 0;
  width: 100%; 
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 4px;
  transform: translateY(-20px); 
}

.sugerencia-item {
  padding: 10px;
  cursor: pointer;
}

.sugerencia-item:hover {
  background-color: #f0f0f0;
}

