.navegar-por-autor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    min-height: 550px;
    overflow-y: auto;
    max-width: 1000px;
    margin: 2% auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navegar-autor-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 55px;
  }
  
  .sort-select {
    margin-left: 1rem;
    margin-top: -15px;
    width: 200px;
  }
  
  .pagination {
    margin-top: 2rem;
    font-size: 1rem;
  }
  
  .pagination button {
    margin: 0 1rem;
  }

  .search-bar {
    width: 90%; 
    max-width: 800px;
    display: flex;
    justify-content: center;
  }

  .search-input {
      flex: 1;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .search-button-autor {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
  }  

  .navegar-atras-buscador {
    display: flex;
    align-items: center;
    color: #0854A2;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.2em;
    position: absolute; /* Cambiar a posición absoluta */
    top: 20px; /* Ajustar para colocar en la parte superior */
    left: 20px; /* Ajustar para colocar en la esquina izquierda */
}

.icono-navegar-atras-buscador {
    margin-right: 10px;
}

.search-button-autor {
  background-color: #28537E;
  border-color: #28537E;
  color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-button-autor:hover,
.search-button-autor:active,
.search-button-autor:focus {
  background-color: #28537E !important;
  border-color: #28537E !important;
  color: #ffffff;
  outline: none; 
  box-shadow: none; 
}