.btn-solicitar-acceso {
    border-radius: 10px;
    color: #ffffff;
    background-color: #ec881d;
    border-color: #ec881d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-solicitar-acceso:hover {
    color: #ffffff;
    background-color: #ce771a;
    border-color: #ce771a;
    opacity: 0.9;
}

.btn-solicitar-acceso:active {
    color: #ffffff!important;
    background-color: #ce771a!important;
    border-color: #ce771a!important;
}

.btn-solicitar-acceso:disabled {
    border-radius: 10px;
    color: #ffffff;
    background-color: #ec881d;
    border-color: #ec881d;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-enviar {
    border-radius: 10px;
    color: #ffffff;
    background-color: #91cb1b;
    border-color: #91cb1b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-enviar:disabled {
    border-radius: 10px;
    color: #ffffff;
    background-color: #91cb1b;
    border-color: #91cb1b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-enviar:hover {
    color: #ffffff;
    background-color: #81b518;
    border-color: #81b518;
    opacity: 0.9;
}

.btn-enviar:active {
    color: #ffffff!important;
    background-color: #81b518!important;
    border-color: #81b518!important;
}