html, body {
    height: 100%;
    margin: 0;
    background-color: #e8f0ff; 
    font-family: Arial, sans-serif; 
}

.register-box {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    margin-top: -70px;
}

.register-title {
    color: #0854A2!important;
    font-weight: bold;
}


.register-btn-primary {
    background-color: #91cb1b; 
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.register-btn-primary:hover {
    background-color: #91cb1b!important;
    color: #ffffff;
    transform: scale(1.01);
}

.register-btn-primary:active {
    background-color: #91cb1b!important;
    color: #ffffff!important;
}

.register-form-control {
    border: 0.5px solid #0855a25c;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 10px;
}

.register-form-control:focus {
    border-color: #1D84F3;
    box-shadow: 0 0 5px rgba(29, 132, 243, 0.5);
    outline: none;
}
