html, body {
    height: 100%;
    margin: 0;
    background-color: #e8f0ff; 
}

.register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px; 
}

.register-box {
    max-width: 500px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 50px;
}

.register-form-group {
    margin-bottom: 15px;
}

.register-form-control {
    padding: 15px;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid #dcdcdc; 
}

.register-btn-primary {
    background-color: #91cb1b; 
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.2s;
} 

.register-btn-primary:hover {
    background-color: #ec881d;
    color: #ffffff;
    transform: scale(1.01);
}

.btn-link {
    text-decoration: underline;
    color: #0069d9;
}

.btn-link:hover {
    color: #003d99;
}
